body {
    width: 40%;
    color: white;
    margin-left: 5%; 

}

h1 {
    font-size: 48px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 36px;
    text-align: center;
}

p {
    font-size: 28px;
    margin-bottom: 24px;
}

.clickable {
    color:aquamarine;
    cursor: grab;
    text-shadow: 40pt;
}

.clickable:hover {
    color: blueviolet;
}

.hidden {
    display: none;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0; 
    outline: none;
    z-index: -1;
}