body {
    margin: 0 auto;
}

h1 {
    color: black;
    font-size: 48px;
    text-align: center;
    text-shadow: 2px 2px 4px #ffffff;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

